{% extends "layout.html" %}
{% block title %}Tickets{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>URL</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for ticket in tickets %}
  <tr>
    <th>{{ ticket.id }}
    <td>{{ ticket.name }}
    <td>{{ ticket.status_string }}
    <td>
      <a href="{{ ticket.url }}">{{ ticket.url }}</a>
    </td>
    <td>
      <a href="{{ url_for('tickets_show', ticket_id=ticket.id) }}">Details</a>
    </td>
  </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
